<% provide(:title, 'Add item') %>
<h1>Add an item</h1>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= form_for @stock_item do |f| %>
		<%= render 'shared/error_messages', object: f.object %> 
		<%= f.label :title %>
		<%= f.text_field :title, class: 'form-control' %>
		<%= f.label :description %>
		<%= f.text_field :description, class: 'form-control' %>
		<%= f.label :price %>
		<%= f.number_field :price, min: 1, class: 'form-control' %>

		<%= f.label :category_id %>
		<%= f.collection_select :category_id, Category.order(:name), :id, :name, {include_blank: "Select a category"}, {class: "form-control"} %>

		<%= f.label :manufacturer_id, "Manufacturer" %>
		<%= f.collection_select :manufacturer_id, Manufacturer.order(:name), :id, :name, {include_blank: "Select a manufacturer"}, {class: "form-control"} %>

		<%= f.label :current_stock_level %>
		<%= f.number_field :current_stock_level, min: 1, class: 'form-control' %>

		<%= f.submit "Add item", class: "btn btn-primary" %>
		<% end %>
	</div>
</div>

