<% provide(:title, 'Add manufacturer') %>
<h1>Add a manufacturer</h1>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= form_for(@manufacturer) do |f| %>
		<%= render 'shared/error_messages', object: f.object %> 
		<%= f.label :name %>
		<%= f.text_field :name, class: 'form-control' %>
		<%= f.submit "Add manufacturer", class: "btn btn-primary" %>
		<% end %>
	</div>
</div>
